Repository SA-Software-Failures-Team/Software-Atelier-Project-Software-Failure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @piotrwilinski, @Lanae99, @Sloppii8, @skariausi, @BigbyWere, @Fullmonkeyy, @LeonardoAaronRicetti, @Maks0417, @BastavChatterjee

.github/CODEOWNERS:

# This file maps repository paths to their designated reviewers (Code Owners).
# Rules are checked from top to bottom. The LAST matching rule for a given
# file will be used.
#
# The Git Leader (@piotrwilinski) is a required reviewer for ALL changes.

# -------------------------------------------------------------------
# General Catch-all
# Rule 1: The Git Leader is the default owner for any file not
# matched by the more specific rules below.
* @piotrwilinski

# -------------------------------------------------------------------
# Special Page Teams
# Rule 2: Homepage Team + Git Leader
/src/homepage.html @Lanae99 @piotrwilinski
/src/homepage_img/ @Lanae99 @piotrwilinski

# Rule 3: About Us Team + Git Leader
# This covers all files in the about_us folder EXCEPT for the
# CSS file, which is defined in a more specific rule below.
/src/about_us/ @Lanae99 @piotrwilinski

# Rule 4: Documentation Team + Git Leader
/docs/ @Lanae99 @Sloppii8 @piotrwilinski

# -------------------------------------------------------------------
# Topic Leaders
# Rule 5: Topic Leaders + Git Leader for all files in their folders.
/src/topics/topic_1/ @skariausi @piotrwilinski
/src/topics/topic_2/ @BigbyWere @piotrwilinski
/src/topics/topic_3/ @Fullmonkeyy @piotrwilinski
/src/topics/topic_4/ @LeonardoAaronRicetti @piotrwilinski

# -------------------------------------------------------------------
# CSS Leaders (Most Specific Rules)
# Rule 6: These rules are last, so they OVERWRITE the rules above
# for these specific files, adding the CSS team.
/src/main_styles.css @Maks0417 @BastavChatterjee @piotrwilinski
/src/topics/topics_general_styles.css @Maks0417 @BastavChatterjee @piotrwilinski
/src/topics/subtopic_styles/ @Maks0417 @BastavChatterjee @piotrwilinski
/src/about_us/about_us_styles.css @Maks0417 @BastavChatterjee @piotrwilinski

test codewoners
  src/about_us/test.txt
Owners: @Lanae99, @piotrwilinski

test codewoners c.d.
  src/about_us/test.txt
Owners: @Lanae99, @piotrwilinski

trying
  docs/try.tex
Owners: @Lanae99, @Sloppii8, @piotrwilinski

trial
  docs/try.tex
Owners: @Lanae99, @Sloppii8, @piotrwilinski

git rules.md
  docs/git rules.md
Owners: @Lanae99, @Sloppii8, @piotrwilinski

edit git rules.md c.d
  docs/git rules.md
Owners: @Lanae99, @Sloppii8, @piotrwilinski

edit git rules.md c.d 2
  docs/git rules.md
Owners: @Lanae99, @Sloppii8, @piotrwilinski

edit git rules.md c.d 3
  docs/git rules.md
Owners: @Lanae99, @Sloppii8, @piotrwilinski

edit git rules.md c.d 4
  docs/git rules.md
Owners: @Lanae99, @Sloppii8, @piotrwilinski

edit git rules.md c.d 5
  docs/git rules.md
Owners: @Lanae99, @Sloppii8, @piotrwilinski

edit git rules.md c.d 6
  docs/git rules.md
Owners: @Lanae99, @Sloppii8, @piotrwilinski

edit git rules.md c.d 7
  docs/git_guide.md
Owners: @Lanae99, @Sloppii8, @piotrwilinski

edit git rules.md c.d 8
  docs/git_guide.md
Owners: @Lanae99, @Sloppii8, @piotrwilinski

README.md edit
  README.md
Owners: @piotrwilinski

README.md and GIT_GUIDE_edit
  README.md
  docs/git_guide.md
Owners: @piotrwilinski, @Lanae99, @Sloppii8
