Repository SA-Software-Failures-Team/Software-Atelier-Project-Software-Failure, changes with the owners that .github/CODEOWNERS names for each.
All owners: @piotrwilinski, @SamueleBertolini04, @SA-Software-Failures-Team/git_team, @Lanae99, @Fullmonkeyy, @skariausi, @BigbyWere, @LeonardoAaronRicetti, @SA-Software-Failures-Team/css_team

Ok, idk why the structures of the folder changes during the session but I've adapted the new code with this new structure
  src/topics/subtopic_styles/subtopic_style_3.css
  src/topics/topic_3/topic_3_general.html
  topics/subtopic_styles/subtopic_style_3.css
  topics/topic_3/topic_3_general.html
Owners: @SA-Software-Failures-Team/css_team, @Fullmonkeyy, @piotrwilinski, @SamueleBertolini04, @SA-Software-Failures-Team/git_team

Fixed go back button
  topics/topic_3/topic_3_general.html
Owners: @SA-Software-Failures-Team/git_team, @Fullmonkeyy

classes buttons
  topics/subtopic_styles/subtopic_style_3.css
  topics/topic_3/topic_3_general.html
Owners: @SA-Software-Failures-Team/css_team, @Fullmonkeyy, @SA-Software-Failures-Team/git_team

first commit with git leader
  topics/topic_3/topic_3_general.html
Owners: @SA-Software-Failures-Team/git_team, @Fullmonkeyy

new index
  topics/subtopic_styles/subtopic_style_3.css
  topics/topic_1/topic_1_general.html
  topics/topic_2/topic_2_general.html
  topics/topic_3/topic_3_general.html
  topics/topic_4/topic_4_general.html
  topics/topicgeneral.js
  topics/topics.css
  topics/topics.html
  topics/topics.js
Owners: @SA-Software-Failures-Team/css_team, @Fullmonkeyy, @SA-Software-Failures-Team/git_team, @skariausi, @BigbyWere, @LeonardoAaronRicetti, @piotrwilinski, @SamueleBertolini04

Subtopic2.0
  topics/topics.css
  topics/topics.html
Owners: @SA-Software-Failures-Team/css_team, @Fullmonkeyy, @piotrwilinski, @SamueleBertolini04

new generaltopic
  topics/topic_3/subtopic_1/generaltopic.html
  topics/topic_3/topic_3_general.html
Owners: @SA-Software-Failures-Team/git_team, @Fullmonkeyy

scoll pinch
  topics/topics.js
Owners: @piotrwilinski, @SamueleBertolini04

new file css (general_topic_index.css)
  topics/subtopic_styles/general_subtopic_index.css
  topics/subtopic_styles/subtopic_style_3.css
  topics/topic_3/topic_3_general.html
Owners: @SA-Software-Failures-Team/css_team, @Fullmonkeyy, @SA-Software-Failures-Team/git_team

fixed css file foreach topicgeneral
  topics/topic_1/topic_1_general.html
  topics/topic_2/topic_2_general.html
  topics/topic_4/topic_4_general.html
Owners: @SA-Software-Failures-Team/git_team, @skariausi, @BigbyWere, @LeonardoAaronRicetti

choose.html generabug and generalvun
  topics/topic_3/choose_3.html
  topics/topic_3/topic_3_general.html
  topics/topic_3/topic_3_img/Facebook.png
  topics/topic_3/topic_3_img/Heartbleedbug.jpg
  topics/topic_3/topic_3_img/MAOutage.jpg
  topics/topic_3/topic_3_img/NHS Ransomware.jpg
  topics/topic_3/topic_3_img/Vancouver.jpg
  topics/topic_3/topicgeneral_bug.html
  topics/topic_3/topicgeneral_vulnerabilities.html
  topics/topics.css
Owners: @SA-Software-Failures-Team/git_team, @Fullmonkeyy, @SA-Software-Failures-Team/css_team

Version1.0 Exemple-template subtopic 1 plus css subtopic 1
  topics/subtopic_styles/subtopic_style_1.css
  topics/topic_1/subtopic_1/Example.html
  topics/topic_1/subtopic_1/img/ex.jpeg
  topics/topic_1/topic_1_general.html
  topics/topics.css
Owners: @SA-Software-Failures-Team/css_team, @Fullmonkeyy, @SA-Software-Failures-Team/git_team, @skariausi

Reorganization with new folder template
  topics/topic_1/template/Example.html
Owners: @SA-Software-Failures-Team/git_team, @skariausi

Exemple template navbar with js and css
  topics/subtopic.js
  topics/subtopic_styles/general_subtopic_index.css
  topics/subtopic_styles/subtopic_style_1.css
  topics/topic_1/template/Example.html
Owners: @piotrwilinski, @SamueleBertolini04, @SA-Software-Failures-Team/css_team, @Fullmonkeyy, @SA-Software-Failures-Team/git_team, @skariausi

problem
  topics/topic_3/choose_3.html
  topics/topics.css
  topics/topics.js
Owners: @SA-Software-Failures-Team/git_team, @Fullmonkeyy, @SA-Software-Failures-Team/css_team, @piotrwilinski, @SamueleBertolini04

name
  topics/topic_3/subtopic_1/generalsubtopic.html
Owners: @SA-Software-Failures-Team/git_team, @Fullmonkeyy

SWITCH GENERALTOPIC WITH GENERAL SUBTOPIC
  topics/topic_1/choose_3.html
  topics/topic_1/subtopic_1/generalsubtopic.html
  topics/topic_1/subtopic_2/generalsubtopic.html
  topics/topic_1/subtopic_3/generalsubtopic.html
  topics/topic_1/subtopic_4/generalsubtopic.html
  topics/topic_1/subtopic_5/generalsubtopic.html
  topics/topic_1/topicgeneral_bug.html
  topics/topic_1/topicgeneral_vulnerabilities.html
  topics/topic_2/choose_3.html
  topics/topic_2/subtopic_1/generalsubtopic.html
  topics/topic_2/subtopic_2/generalsubtopic.html
  topics/topic_2/subtopic_3/generalsubtopic.html
  topics/topic_2/subtopic_4/generalsubtopic.html
  topics/topic_2/subtopic_5/generalsubtopic.html
  topics/topic_2/topicgeneral_vulnerabilities.html
  topics/topic_3/subtopic_2/generalsubtopic.html
  topics/topic_3/subtopic_3/generalsubtopic.html
  topics/topic_3/subtopic_4/generalsubtopic.html
  topics/topic_3/subtopic_5/generalsubtopic.html
  topics/topic_4/choose_3.html
  topics/topic_4/subtopic_1/generalsubtopic.html
  topics/topic_4/subtopic_2/generalsubtopic.html
  topics/topic_4/subtopic_3/generalsubtopic.html
  topics/topic_4/subtopic_4/generalsubtopic.html
  topics/topic_4/subtopic_5/generalsubtopic.html
  topics/topic_4/topicgeneral_bug.html
  topics/topic_4/topicgeneral_vulnerabilities.html
Owners: @SA-Software-Failures-Team/git_team, @skariausi, @BigbyWere, @Fullmonkeyy, @LeonardoAaronRicetti

bav
  topics/topic_1/choose.html
  topics/topic_2/choose.html
  topics/topic_3/choose.html
  topics/topic_4/choose.html
Owners: @SA-Software-Failures-Team/git_team, @skariausi, @BigbyWere, @Fullmonkeyy, @LeonardoAaronRicetti

fix
  topics/topic_1/choose.html
  topics/topic_2/choose.html
  topics/topic_2/topicgeneral_bug.html
  topics/topic_3/choose.html
  topics/topic_4/choose.html
  topics/topics.js
Owners: @SA-Software-Failures-Team/git_team, @skariausi, @BigbyWere, @Fullmonkeyy, @LeonardoAaronRicetti, @piotrwilinski, @SamueleBertolini04

try to modify
  topics/topic_1/choose.html
Owners: @SA-Software-Failures-Team/git_team, @skariausi

.github/CODEOWNERS:

# This file maps repository paths to their designated reviewers (Code Owners).
# Rules are checked from top to bottom. The LAST matching rule for a given
# file will be used.
#
# The Git Leader (@piotrwilinski) is a required reviewer for ALL changes.

# -------------------------------------------------------------------
# General Catch-all
# Rule 1: The Git Leader is the default owner for any file not
# matched by the more specific rules below.
* @piotrwilinski @SamueleBertolini04

# -------------------------------------------------------------------
# Special Page Teams
# Rule 2: Homepage Team + Git Leader
index.html @SA-Software-Failures-Team/git_team @Lanae99 @Fullmonkeyy
/index_img/ @SA-Software-Failures-Team/git_team @Lanae99 @Fullmonkeyy

# Rule 3: About Us Team + Git Leader
# This covers all files in the about_us folder EXCEPT for the
# CSS file, which is defined in a more specific rule below.
/about_us/ @SA-Software-Failures-Team/git_team @Lanae99

# Rule 4: Documentation Team + Git Leader
/docs/ @SA-Software-Failures-Team/git_team @SA-Software-Failures-Team/git_team

# -------------------------------------------------------------------
# Topic Leaders
# Rule 5: Topic Leaders + Git Leader for all files in their folders.
/topics/topic_1/ @SA-Software-Failures-Team/git_team @skariausi
/topics/topic_2/ @SA-Software-Failures-Team/git_team @BigbyWere
/topics/topic_3/ @SA-Software-Failures-Team/git_team @Fullmonkeyy
/topics/topic_4/ @SA-Software-Failures-Team/git_team @LeonardoAaronRicetti

# -------------------------------------------------------------------
# CSS Leaders
# Rule 6: These rules are last, so they OVERWRITE the rules above
# for these specific files, adding the CSS team.
/**/*.css @SA-Software-Failures-Team/css_team @Fullmonkeyy
